Transfer-Encoding header field is case sensitive

# Bug Report

## Description
When Fuel gets a response with transfer-code which is not all lower case in the Transfer-Encoding header field, it does not decode it and fails, even when it supports the encoding.

## To Reproduce
Send a GET request to a server that responds with a supported transfer-code that is not all lower case.
I found it with a request like this one, for example:
```Kotlin
"http://bttracker.debian.org:6969/file?info_hash=Z%80b%c0v%fa%85%e8%05dQ%c0%d9%aa%044%9a%e2y%09"
                .httpGet()
                .responseString()
```

## Expected behavior
Transfer encoding header field in Fuel is case sensitive, as opposed to what stated in [RFC-7230, section 4](https://tools.ietf.org/html/rfc7230#section-4):
> All transfer-coding names are case-insensitive...

I think changing this line:
https://github.com/kittinunf/fuel/blob/d7ee420b8690afd846d7d064b8e927d19de74d94/fuel/src/main/kotlin/com/github/kittinunf/fuel/util/DecodeStream.kt#L20

to:
```Kotlin
when (encoding.trim().toLowerCase()) {
```

Should resolve the bug.

### Development Machine

 - OS: Windows 10
 - IDE: IntelliJ, Eclipse
 - Fuel version: 2.2.2
 - Kotlin version: 1.3.71


✨ Nice catch! This is a perfect bug report!! 👏 

Could you open the PR to the repo? I will check it out. Thanks 🙇 