Limit number of redirects as per rfc7231

[RFC 7231 - 6.4. Redirection 3xx](https://tools.ietf.org/html/rfc7231#section-6.4.1) says:

> A client SHOULD detect and intervene in cyclical redirections (i.e., "infinite" redirection loops).
Note: An earlier version of this specification recommended a maximum of five redirections ([RFC2068], Section 10.3). Content developers need to be aware that some clients might implement such a fixed limitation.

[fuel/core/interceptors/RedirectionInterceptor.kt](https://github.com/ParkerK/Fuel/blob/d0f94c5fff989ec557c8dad23956ba9231a53875/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/interceptors/RedirectionInterceptor.kt) should account for that.

Superseded by #395. Closed