Headers fields must be case insensitive

# Bug Report

## Description
From the spec:

> Each header field consists of a case-insensitive field name followed
   by a colon (":"), optional leading whitespace, the field value, and
   optional trailing whitespace.

     header-field   = field-name ":" OWS field-value OWS

     field-name     = token
     field-value    = *( field-content / obs-fold )
     field-content  = field-vchar [ 1*( SP / HTAB ) field-vchar ]
     field-vchar    = VCHAR / obs-text

     obs-fold       = CRLF 1*( SP / HTAB )
                    ; obsolete line folding
                    ; see Section 3.2.4

>   The field-name token labels the corresponding field-value as having
   the semantics defined by that header field.  For example, the Date
   header field is defined in Section 7.1.1.2 of [RFC7231] as containing
   the origination timestamp for the message in which it appears.

## To Reproduce

1. add a header: `"Cache-Control": "no-cache"`
2. add the same header with different casing: "cache-control": "max-age: 600"
3. inspect the request and see the header twice.

## Expected behavior
The last assignment survives _or_ if the method allows for appending, the headers are combined.

## Additional context
https://tools.ietf.org/html/rfc7230#section-3.2

Leads to bugs such as #474 #472 #413  

Taking this!