Caching

Especially on android, having a builtin caching layer would be v. useful.

I totally agree with this. This is way I have created another library for this. Please checkout `Fuse`.  https://github.com/kittinunf/Fuse. 



Ah, I see. Just when I was looking for one, you have created a solution.

The only caveat for you is Fuse is still considered a beta software. It
works but you might need to do an extra work. But if you are bold enough
for Fuel, Fuse is for you.
On Thu, Apr 28, 2016 at 5:46 PM Ismail <notifications@github.com> wrote:

> Closed #81 <https://github.com/kittinunf/Fuel/issues/81>.
>
> —
> You are receiving this because you commented.
>
>
> Reply to this email directly or view it on GitHub
> <https://github.com/kittinunf/Fuel/issues/81#event-644134162>
>


I agree. It isn't quite what I want it to be, but:

1. I plan to add caching only after I get my app to go live, so atm my research into caching is just research
1. I'll probs stick issues on the Fuse project, and if I feel up to it, try and contribute to it. Or, if it makes more sense, I'll create a wrapper for it.

Also, I have a question for you. Are you planning on making Fuse work with Fuel in the future? Atm, the networking in Fuse is just using `java.net`.

`Fuse` can be implemented to Fuel using `interceptors`, I think.

[Fuse](https://github.com/kittinunf/Fuse) seems to be Android only. With Fuel not having that limitation, wouldn't it make more sense to also offer a generic caching solution?

@kittinunf 
I've been lurking here for a few months, and I've evangelizing the use of Fuel at Instructure. I was hoping to add caching to an api client I'm writing and it seems like the ideal cache key -> value pair is Request.url -> Response.body. It seems like this sort of thing can't be done using the request and response interceptors right? Because I'd want a request interceptor to create a response do I need to create a special underlying HttpClient?

Please don't use the `url` as cache key, as it completely breaks the RFC of HTTP Caching (if that's all you do). There are RFC-compliant cache libraries for android already, and those should be used, apart from the fact that android caches.

(reading)

"The primary cache key consists of the request method and target URI.
   However, since HTTP caches in common use today are typically limited
   to caching responses to GET, many caches simply decline other methods
   and use only the URI as the primary cache key."

Seems like they're suggesting using the URL. 

HTTP is not "designed" for browsers. It's for agents, including your fridge, crawlers, and people (apart from browsers). They're also not suggesting to use the URL, they note that many caches are, whilst compliant, hostile to caching. For example, iOS by default at most stores one response per url, which means that if you serve html and json from the same endpoint, it will always throw out one of the two 😢 😡 

But to respond to the suggestion:

> If a request target is subject to content negotiation, its cache
   entry might consist of multiple stored responses, each differentiated
   by a secondary key for the values of the original request's selecting
   header fields (Section 4.1).

Primary cache key is not the only thing that is being cached on. There are secondary cache keys (read: anything in Vary) that **must** be used to be compliant. If you do not handle this (if you ignore this), you might return a json response when requesting an html page:

```
GET example.org/my-page
Accept: text/html

GET example.org/my-page
Accept: application/json
```

If the server responds the first time with the following response:

```
...
Content-Type: text/html
Vary: Accept
```

...you probably do NOT want to serve this file when requesting the JSON representation.

https://tools.ietf.org/html/rfc7234#section-4.1

>  When a cache receives a request that can be satisfied by a stored
   response that has a Vary header field (Section 7.1.4 of [RFC7231]),
   it MUST NOT use that response unless all of the selecting header
   fields nominated by the Vary header field match in both the original
   request (i.e., that associated with the stored response), and the
   presented request.

The usage of the keyword MUST NOT means that _systems will blow up_ if you don't satisfy this constraint.

Note:

Both Rails and Chrome had this as a bug whereas the incorrect page representation would be served because of shoddy caching 😞 

@dustinevan Thanks so much for liking the library!

In my humble opinion, I really feel that Cache is outside the scope of this library. I rather provide HTTP Client that extensible, useful and solid to be used so it is easy to add/extension with some other needs. 

I think Caching itself is a tough problem on its own and the last thing I want is 
to provide everything under the sun with just one single library.

You might argue that Fuel already has tons of stuff (especially the Fuel's serializable/extension). While that is true, I do feel regret because I think we have too much ground to cover for a project that runs on a voluntary basis.

Having said that, I do have opensource the caching library of my own named Fuse, where I do have such need for that. I extracted it out from the client project and open source it. 

Check it if you like, if not, please find some other libraries that suit your needs. 

On the contrary, please report it back if Fuel isn't flexible to integrate with other things, for that, we would be happy to fix/improve that for you.

@kittinunf @SleeplessByte Thanks a ton for responding! Good points. Because I'm writing what amounts to a decorator around fuel for a specific rest api, I think I too am going say that caching is outside the scope of my library. 

Many thanks for making fuel. Seriously it's _so beautiful_!

Also, I'd love to contribute if that's ever needed. Honestly, I've never worked on an open source project _embarrassing_. Do I just fork and try to solve an issue in the backlog? Or do I need to do something else?

jk, I found it. https://github.com/kittinunf/fuel/blob/master/CONTRIBUTING.md